@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Acme');

body{
background-color: orange;
font font-family: sans-serif;

}

header{
background-color: yellow;
width:1200px;
margin:0 auto;
}

h1{
color: pink;
text-decoration: underline;
font-family: Pacifico;

}

h2{
color: blue;
font-family: Acme;

}

h3{
color:grey;
font-family: Acme;

}


a:hover{
color:red;

}
a{
text-decoration: none;
}
#centerText{
text-align: center;
}

#moveUp{
margin-bottom: -10px;
}


.home{
margin-bottom: 10px;
width:350px;
height: auto;
display:inline-block;;
padding:20px;
background-color:green;
vertical-align: top;
}
.box{
margin-bottom: 10px;
width: 350px;
height: auto;
display: inline-block;
padding: 20px;
background-color: blue;
vertical-align: top;

}

.square{
width:350px;
height:auto;
display: inline-block;
padding:20px;
background-color:red;
vertical-align:top;
}

.font{
font-size: 30px;
}

.colorTable{
background-color: purple;
}
